<div class="grid">
  <div class="grid__item width-10_m offset-1_m width-8_l offset-2_l">
    {% macro errorList(errors) %}
    {% if errors %}
    <ul class="errors">
      {% for error in errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endmacro %}

    {% from _self import errorList %}

    <form method="post" action="" accept-charset="UTF-8" class="form" id="contact-form" novalidate>
      {{ getCsrfInput() }}
      <input type="hidden" name="action" value="contactForm/sendMessage">

      <div class="form__group">
        <input class="form__field" placeholder="Your Name" id="fromName" type="text" name="subject" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
        <label class="form__label" for="fromName">Your Name</label>
        {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
      </div>

      <div class="form__group">
        <input class="form__field" placeholder="Your Email" id="fromEmail" type="email" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}" required>
        <label class="form__label" for="fromEmail">Your Email</label>
        {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
      </div>

      <div class="form__group">
        <textarea class="form__field" placeholder="Your Message" rows="6" cols="40" id="message" name="message" required>{% if message is defined %}{{ message.message }}{% endif %}</textarea>
        <label class="form__label" for="message">Your Message</label>
        {{ message is defined and message ? errorList(message.getErrors('message')) }}
      </div>

      <input id="gender" name="gender" type="text">

      <input class="button width-12 width-6_s offset-3_s width-4_m offset-4_m" type="submit" value="Send">
    </form>
  </div>
</div>
