<article class="work">
  <h1 class="heading heading--2">{{ entry.title }}</h1>
  <div class="grid">
    <div class="grid__item width-6_l width-8_m width-10_s">
      <p>{{ entry.description }}</p>
    </div>
  </div>
  <div class="devices">
    <div class="grid">
      <div class="grid__item width-10_m offset-1_m">
        <div class="browser" data-title="{{ entry.siteAddress }}">
          <img src="{{ entry.desktopImage[0].getUrl() }}" alt="{{ entry.desktopImage[0].title }}">
        </div>
      </div>
    </div>
    <div class="phone width-3 offset-8 width-2_m offset-0_m" data-title="{{ entry.siteAddress }}">
      <img src="{{ entry.mobileImage[0].getUrl() }}" alt="{{ entry.mobileImage[0].title }}">
    </div>
    <div class="tablet hidden visible_m width-6_m" data-title="{{ entry.siteAddress }}">
      <img src="{{ entry.tabletImage[0].getUrl() }}" alt="{{ entry.tabletImage[0].title }}">
    </div>
  </div>
  {% for technology in entry.technologies %}

    <svg class="icon">
      <use xlink:href="/dist/images/icons.svg#{{ technology.slug }}"></use>
    </svg>
    {{ technology.title }}
  {% endfor %}
</article>
