<article class="work">
  <h1 class="heading heading--2">{{ entry.title }}</h1>
  <div class="grid">
    <div class="grid__item width-7_l width-8_m width-10_s">
      {{ entry.description }}
    </div>
  </div>
  <div class="devices m-y">
    <div class="grid">
      <div class="grid__item width-10_m offset-1_m">
        <div class="browser" data-title="{{ entry.siteAddress }}">
          <img src="{{ entry.desktopImage[0].getUrl() }}" alt="{{ entry.desktopImage[0].title }}">
        </div>
      </div>
    </div>
    <div class="phone width-3 offset-8 width-2_m offset-0_m" data-title="{{ entry.siteAddress }}">
      <img src="{{ entry.mobileImage[0].getUrl() }}" alt="{{ entry.mobileImage[0].title }}">
    </div>
    <div class="tablet hidden visible_m width-6_m" data-title="{{ entry.siteAddress }}">
      <img src="{{ entry.tabletImage[0].getUrl() }}" alt="{{ entry.tabletImage[0].title }}">
    </div>
  </div>
  <div class="grid technologies">
    {% set divider = entry.technologies.total > 4 and entry.technologies.total < 7 ?  3 : 4 %}
    {% for technology in entry.technologies.limit(8) %}
      <div class="width-{{ 12 / divider }} technologies__item">
        <div class="technologies__icon">
          <svg class="icon">
            <use xlink:href="/dist/images/icons.svg#{{ technology.slug }}"></use>
          </svg>
        </div>
        <h2 class="technologies__title">
          {{ technology.title }}
        </h2>
      </div>
    {% endfor %}
  </div>
  <div class="text-center">
    {% if entry.siteUrl %}
      <a href="{{ entry.siteUrl }}" class="button">Visit {{ entry.title }}</a>
    {% else %}
      <a class="button button--disabled">Not online yet</a>
    {% endif %}
  </div>
</article>
