// box-sizing reset to border-box
html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// Base style
body {
  background: $main-bg-color;
  height: 100%;
}

hr {

}
