html {
  font-family: $main-font-family;
  @include resp("font-size", $main-font-size);
  font-weight: $main-font-weight;
  color: $text-color;
}

b,
strong {
  font-weight: $bold-font-weight;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $h-font-family;
  font-weight: $h-font-weight;
}

h1 {
  font-size: 29px;
  margin: 0.67em 0;
}

a {
  color: $link-color;
  text-decoration: $link-decoration;
  transition: 0.1s;

  &:hover {
    color: $primary-color-dark;
  }
}

.heading {
  margin: 0;
}

.heading--1 {
  color: rgba(255, 255, 255, 0.7);
  @include resp("font-size", (
    "main": 16px,
    "s": 20px,
  ));
  letter-spacing: 0.2em;
}

.heading--2 {
  @include resp("font-size", (
    "main": 22px,
    "s": 24px,
    "m": 26px,
    "l": 28px,
  ));
}
