// ===== Colors ======

// Set colors
$primary-color: #0D8EA4 !default;
$primary-color-dark: #085078 !default;

$gray-0: #fff !default;
$gray-1: #eee !default;
$gray-2: #999 !default;
$gray-3: darken($gray-2, 20%) !default;
$gray-4: darken($gray-3, 20%) !default;
$gray-5: darken($gray-4, 20%) !default;

$bg-color-light: $gray-0 !default;
$bg-color-dark: $gray-4 !default;
$bg-color-primary: $primary-color !default;
$bg-color-accent: $primary-color !default;

$text-color-light-bg: $gray-4 !default;
$text-color-dark-bg: $gray-0 !default;

// Apply colors

$main-bg-color: $bg-color-light !default;
$main-text-color: $text-color-light-bg !default;

$text-color: $gray-3;
$text-color--dark-bg: $gray-0;

// ===== Base =====

//Typography
$main-font-family: 'Lato', sans-serif;
$second-font-family: 'Abril Fatface', sans-serif;

$h-font-family: $main-font-family;

$main-font-size: (
  "main": 16px,
  "s": 18px,
  "m": 20px,
  "l": 24px,
) !default;
$main-font-weight: 300 !default;
$bold-font-weight: 400 !default;
$h-font-weight: 300 !default;

$link-color: $primary-color;
$link-decoration: none;


// ===== Grid =====

// container
$container-min-width: 320px !default;

// layouts
$layouts-name:                'main',     's',        'm',        'l'         !default; // ascending order / 'main' doesn't print out
$layouts-break-point:         0,          500px,      800px,      1000px      !default;
$layouts-columns-number:      12,         12,         12,         12          !default;
$layouts-column-gutter:       20px,       30px,       40px,       40px        !default;
$layouts-container-max-width: none,       none,       none,       1200px      !default; //none if fluid

$header-height: 64px;

$spacer: (
  'main': 20px,
  's': 30px,
  'm': 40px,
);
