.nav {
  letter-spacing: 0.1em;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  float: left;
  @include resp('font-size', (
    'main': 18px,
    'm': 20px,
  ));
}

.nav__item ~ .nav__item {
  margin-left: 28px;
}
