.header {
  padding: (($header-height - 24px) / 2) 0;
  color: $link-color;

  a {
    color: inherit;
  }
}

.header__heading {
  @include resp('font-size', (
    'main': 20px,
  ));
  letter-spacing: 0.03em;
}
