.section {
  @include resp('padding', (
    'main': 30px 0,
  ));
}

.section--dark {
  color: $text-color--dark-bg;
  background-color: $primary-color;
  background-image: linear-gradient(135deg, rgba(60,137,156,1) 0%,rgba(8,80,120,1) 100%);
}

.section--intro {
  padding-top: $header-height;
  background-image: radial-gradient(circle at 50% -130%,#85d8ce 0,#085078 100%)
}

.section__heading {
  font-family: $second-font-family;
  @include resp('font-size', (
    'main': 24px,
    's': 30px,
    'm': 36px,
    'l': 40px,
  ));
  text-align: center;

  &:before,
  &:after {
    content: '';
    display: inline-block;
    height: 1px;
    background-color: currentColor;
    width: 20px;
    @include resp('width', (
      'main': 10px,
      's': 15px,
      'm': 20px,
    ));
    vertical-align: middle;
    margin: 0 15px;
  }
}
