.technologies {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  @include media(m) {
    flex-wrap: nowrap;
  }
  @include resp('margin-bottom', $spacer, 0.5);
}

.technologies__item {
  position: relative;
  display: inline-block;
  @include resp('font-size', (
    'main': 12px,
    's': 14px,
    'm': 16px,
    'l': 18px
  ));
  @include media(m) {
    flex-grow: 1;
    width: auto;
    padding: 0 20px;
    flex-basis: 0;
  }

  &:hover {
    .technologies__icon {
      opacity: 0.75;
    }
  }
}

.technologies__link {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.technologies__icon {
  display: inline-block;
  padding: 1em 0 1.5em;
  transition: opacity 0.2s ease-out;
  opacity: 0.5;

  img {
    display: block;
    height: 24px;
    width: 24px;

    @include media(m) {
      height: 48px;
      width: 48px;
    }
  }
}

.technologies__title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  white-space: nowrap;
  font-size: inherit;
  margin: 0;
  opacity: 0;
  transition: 0.3s;

  .technologies__item:hover & {
    opacity: 1;
  }
}
