.testimonial {
  margin: 0;

  & ~ & {
    @include resp('margin-top', $spacer, 2);
  }
}

.testimonial__quote {
  line-height: 1.5;

  p {
    font-style: italic;

    &:before,
    &:after {
      content: '"';
    }
  }
}

.testimonial__footer {
  @extend %clearfix;
  display: flex;
  align-items: center;
}

.testimonial__picture {
  display: block;
  width: 60px;
  border-radius: 9999px;
  border: 2px solid #fff;
  border: 2px solid rgba(255,255,255,0.8);
  overflow: hidden;
  float: left;

  &:hover {
    border-color: rgba(255,255,255,1);
  }
}

.testimonial__person {
  float: left;
  @include resp('margin-left', (
    'main': 10px,
    'm': 20px,
  ));
  @include resp('font-size', (
    'main': 14px,
    'm': 18px,
  ));
}

.testimonial__name {
  display: inline-block;
  margin-bottom: 5px;
}

.testimonial__title {
  p {
    margin: 0;
  }
}
