.header {
  padding: (($header-height - 24px) / 2) 0;
  color: $link-color;

  a {
    color: inherit;
  }
}

.header__heading {
  @include resp('font-size', (
    'main': 18px,
    'm': 20px,
  ));
  letter-spacing: 0.1em;
}

.header--inverse {
  position: absolute;
  top: 0;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);

  a:hover {
    color: #fff;
  }
}
