{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link href='https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:400,300,300italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ siteUrl }}/dist/styles/main.min.css">
</head>

<body class="{{ page }}">
	<header class="header clearfix">
    <div class="container">
  		<h1 class="heading header__heading float-left">
        <a href="{{ siteUrl }}"><b>Valentin</b> Escoyez</a>
      </h1>

  		<nav class="nav float-right">
  			<ul class="nav__list">
          <li class="nav__item hidden visible_s">
            <a href="{{ siteUrl }}#work">Work</a>
          </li>
          <li class="nav__item hidden visible_s">
            <a href="{{ siteUrl }}#about">About</a>
          </li>
          <li class="nav__item">
            <a href="{{ siteUrl }}#contact">Contact</a>
          </li>
  			</ul>
  		</nav>
    </div>
	</header>

	<main class="content" role="main">
		{% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
		{% endblock %}
	</main>

  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type="text/javascript">
    $('#my-form').submit(function(ev) {
    // Prevent the form from actually submitting
    ev.preventDefault();

    // Get the post data
    var data = $(this).serialize();

    // Send it to the server
    $.post('/', data, function(response) {
        if (response.success) {
            console.log('sucess');
        } else {
            // response.error will be an object containing any validation errors that occurred, indexed by field name
            // e.g. response.error.fromName => ['From Name is required']
            alert('An error occurred. Please try again.');
        }
    });
  });
  </script>

</body>
</html>
