{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}
{% set page = 'home' %}
{% extends "_layout" %}

{% block content %}
  <section class="section section--dark section--intro">
    <div class="container">
      <h2 class="heading heading--1">{{ entry.greetings }}</h2>
      <div class="intro">
      	{{ entry.intro }}
      </div>
    </div>
  </section>

  <section class="section" id="work">
    <div class="container">
    	<h2 class="heading section__heading">Work</h2>
  		{% for entry in craft.entries.section('work').limit(3).find() %}
        {% include 'includes/_work' %}
  		{% endfor %}
      <h1 class="heading heading--2">More</h1>
      <div class="grid">
        {% for entry in craft.entries.section('work').offset(3).limit(3).find() %}
          <div class="grid__item width-4">
            <a class="work work--more" href="{{ entry.getUrl() }}">
              <img src="{{ entry.tabletImage[0].getUrl() }}" alt="{{ entry.tabletImage[0].title }}">
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="section section--dark" id="about">
    <div class="container">
      <div class="grid">
        <div class="grid__item width-10_m offset-1_m width-8_l offset-2_l">
          <h2 class="heading section__heading">About</h2>
          {% for entry in craft.entries.section('testimonials').limit(2).find() %}
            <blockquote class="testimonial">
              <div class="testimonial__quote">
                {{ entry.testimonial }}
              </div>
              <footer class="testimonial__footer">
                <a href="{{ entry.personUrl }}" class="testimonial__picture">
                  <img src="{{ entry.personPicture[0].getUrl() }}" alt="{{ entry.personPicture[0].title }}">
                </a>
                <div class="testimonial__person">
                  <a href="{{ entry.personUrl }}" class="testimonial__name">{{ entry.title }}</a>
                  <div class="testimonial__title">{{ entry.personTitle }}</div>
                </div>
              </footer>
            </blockquote>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section class="section" id="contact">
    <div class="container">
      <h2 class="heading section__heading">Contact</h2>
      <p class="text-center">Interested to work with me? <br>Drop me a line!</p>
      {% include 'includes/_contactform' %}
      <p class="text-center m-t-2x">or reach me via those networks</p>
      <ul class="networks">
        {% for network in networks.networks %}
        <li class="networks__item">
          <a href="{{ network.siteUrl }}" class="networks__link">
            <svg class="icon networks__icon">
              <use xlink:href="{{ siteUrl }}dist/images/icons.svg#{{ network.networkSlug }}"></use>
            </svg>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}
